<div class="col-md-12">
	<div class="alert alert-danger content-center">
		<i class="icon-notification"></i> You have to be logged in to do that
	</div>
	<h3>Login</h3>
	<div class="basic-login">
		<form id="login" role="form" method="post" action="/login">
			<div class="form-group">
				<label for="login-username"><i class="icon-user"></i> <b>Username or Email</b></label>
				<input class="form-control" name="login_username" id="login-username" type="text" placeholder="">
			</div>
			<div class="form-group">
				<label for="login-password"><i class="icon-lock"></i> <b>Password</b></label>
				<input class="form-control" name="login_password" id="login-password" type="password" placeholder="">
			</div>
			<div class="form-group">
				<a href="#" class="forgot-password cl-effect-15" data-hover="Forgot Password">Forgot Password</a>
				<div class="clearfix"></div>
			</div>
			<div class="row">
				<div class="col-md-1">
					<button  id="loginBtn" class="md-login btn btn-1 btn-1c">Login</button>
				</div>
				<div class="col-md-6">
					<button id="registerBtn" data-modal="modal-2" class="md-close md-trigger btn btn-1 btn-1c">Register</button>
				</div>
			</div>
		</form>
	</div>
</div>
