<div class="service-wrapper col-md-12">
	<div class="col-md-4">
		<img class="pull-left" src="http://placehold.it/250x250">
	</div>
	<div class="col-md-7">
		<h2 class="row">{{name}}</h2>
		<p class="row">{{description}}</p>
	</div>
</div>