<div id="aboutMain">
	<div class="col-md-5">
		<h3>Dustin Hershman</h3>
		<p>Web Application Developer</p>
		<a href="https://github.com/dhershman1">View on Github</a>
	</div>
	<div class="col-md-7">
		<p>
			<strong>Email:</strong> Dustinh17@gmail.com<br>
			<strong>LinkedIn: </strong> <a href="https://www.linkedin.com/in/dustin-hershman-938953101">Here</a>
		</p>
		<h2>About</h2>
		<p>Web Application Developer working with JavaScript (Node.js), CSS, HTML, with light experience in Java. Experience with Linux and Windows Server systems, and network administration.</p>
		<h2>Skills</h2>
		<p><strong>Advanced</strong>
			<br>
			JavaScript, Node.js, HTML, CSS, BootStrap, Hapi.js, JQuery, Handlebars
		</p>
		<p><strong>Some Experience</strong>
			<br>
			Java, Ruby, Electron
		</p>
		<h2>Work Experience</h2>
		<p>
			<strong>DealerTire</strong>
			<br>
			Web Application Developer
			<br>
			Current
			<br>
			Working in a large technology group experience designing many web applications to support many businesses across the US.
			Technology uses like JavaScript, Node.js, CSS, and SQL to maintain and build new applications for our clients.
		</p>
	</div>
</div>