form {
	.btn {
		margin-top: 0;
	}
}

.game--stardew {
	background-image: url(/assets/build/img/stardew-valley/stardew_valley.png);
	background-position: center;
}

.game--stonehearth {
	background-image: url(/assets/build/img/stonehearth/stonehearth_header.jpg);
	background-position: center;
}