div {
	ul {
		list-style: none;
		&.no-pad {
			padding: 0;
		}
	}
	.list-inline {
		li {
			padding: 0;
		}
	}
}

img {
	max-height: 260px;
	max-width: 260px;
}

h2 {
	border-bottom: 2px solid #627BA8;
}