<div class="col-md-12" id="pluginSubmit">
	<form class="service-wrapper form-horizontal normalAlign content-center">
		<div class="form-group">
			<div class="col-sm-offset-1 col-md-5">
				<label>Title</label>
				<div id="error" class="hidden alert alert-danger" role="alert">
					<span><i class="icon icon-notification"></i> Please Enter a valid title (no special chars)</span>
				</div>
				<input id="modTitle" class="form-control" type="text" data-rule="name" data-required="true" data-type="name">
				<p class="xsmall gscale">What's the name of your mod.</p>
			</div>
			<div class="col-md-3">
				<label>Version</label>
				<div id="error" class="hidden alert alert-danger" role="alert">
					<span><i class="icon icon-notification"></i> A Version is required for your mod</span>
				</div>
				<input class="form-control" type="text" data-rule="version" data-required="true" data-type="version" value="1.0.0">
				<p class="xsmall gscale">What version is your mod. (x.x.x syntax)</p>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-1 col-md-5">
				<label>Summary</label>
				<div id="error" class="hidden alert alert-danger" role="alert">
					<span><i class="icon icon-notification"></i> Please Enter a valid summary</span>
				</div>
				<input class="form-control" type="text" data-required="true" data-type="summary">
				<p class="xsmall gscale">Enter a very brief, one-line description of your mod.</p>
			</div>
			<div class="col-md-5">
				<label>Tags</label>
				<input class="form-control" type="text" data-type="tags">
				<p class="xsmall gscale">List tags that best fit your mod. (separate with commas)</p>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-1 col-md-5">
				<label>Required Dependencies</label>
				<textarea class="form-control" data-type="dependencies"></textarea>
				<p class="xsmall gscale">Enter one of multiple mod urls that your plugin requires. (separate with commas)</p>
			</div>
			<div class="col-md-5">
				<label>Optional Dependencies</label>
				<textarea class="form-control" data-type="opdependencies"></textarea>
				<p class="xsmall gscale">Enter one of multiple mod urls that your plugin works well with. (separate with commas)</p>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-1 col-md-5">
				<label>Game Version</label>
				<div id="error" class="hidden alert alert-danger" role="alert">
					<span><i class="icon icon-notification"></i> Please Enter a valid game version</span>
				</div>
				<input class="form-control" type="text" data-required="true" data-type="gamesupport">
				<p class="xsmall gscale">Which game version does your mod support.</p>
			</div>
			<div class="col-md-5">
				<label>Category</label>
				<select class="form-control" data-type="category">
					<option>Additions</option>
					<option>Character</option>
					<option>Cheat Mods</option>
					<option>Items</option>
					<option>NPC</option>
					<option>Other</option>
				</select>
				<p class="xsmall gscale">Choose what category your mod fits best.</p>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-1 col-md-5">
				<label class="col-sm-offset-2">File</label>
				<div id="error" class="hidden alert alert-danger" role="alert">
					<span><i class="icon icon-notification"></i> Please upload your mod file</span>
				</div>
				<button class="btn btn-1 btn-1c upload-btn mb" type="button">Upload</button>
				<div class="progress">
		              <div class="progress-bar" role="progressbar"></div>
		            </div>
				<input id="upload-input" class="form-control" data-required="true" data-type="filepath" type="file" name="modFile">
				<p class="xsmall gscale">Upload the file or zip archive of your mod</p>
			</div>
			<div class="col-md-5">
				<label>Upload Thumbnail</label>
				<input class="form-control" type="text" data-type="thumbnail">
				<p class="xsmall gscale">Upload thumbnail from a url.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-offset-1">Description</label>
			<div class="col-md-12 ql-wrapper">
				<div id="editor"></div>
			</div>
			<p class="col-sm-offset-2 xsmall gscale">Give a more indepth description of your mod, feel free to include images and links to other documentation as well.</p>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-5">
				<a class="btn btn-1 btn-1c" id="modSubmitBtn" href="javascript:void(0);">Submit <i class="icon icon-checkmark"></i></a>
			</div>
		</div>
	</form>
</div>
