.panel-green {
	border-color: $color_fern_approx;
	box-shadow: 0 0 3px $color_mountain_mist_approx;
	color: 0 0 3px $color_mountain_mist_approx;
	> a {
		color: $color_fern_approx;
		&:hover {
			color: $color_goblin_approx;
		}
	}
	> .panel-heading {
		border-color: $color_fern_approx;
		color: $white;
		background-color: $color_fern_approx;
	}
}
.panel-red {
	box-shadow: 0 0 3px $color_mountain_mist_approx;
	color: 0 0 3px $color_mountain_mist_approx;
	border-color: $color_chestnut_rose_approx;
	> a {
		color: $color_chestnut_rose_approx;
		&:hover {
			color: $color_tall_poppy_approx;
		}
	}
	> .panel-heading {
		border-color: $color_chestnut_rose_approx;
		color: $white;
		background-color: $color_chestnut_rose_approx;
	}
}
.panel-yellow {
	border-color: $color_casablanca_approx;
	box-shadow: 0 0 3px $color_mountain_mist_approx;
	color: 0 0 3px $color_mountain_mist_approx;
	> a {
		color: $color_casablanca_approx;
		&:hover {
			color: $color_golden_bell_approx;
		}
	}
	> .panel-heading {
		border-color: $color_casablanca_approx;
		color: $white;
		background-color: $color_casablanca_approx;
	}
}
.panel-accent {
	border-color: $color_main_accent;
	box-shadow: 0 0 3px $color_mountain_mist_approx;
	color: 0 0 3px $color_mountain_mist_approx;
	>a {
		color: $color_main_accent;
		&:hover {
			color: $white;
		}
	}
	> .panel-heading {
		border-color: $color_main_accent;

		color: $white;
		background-color: $color_main_accent;
	}
}
.service-wrapper {
	@include border-radius
	background-color: $concrete;
	text-align: center;
	padding: 30px 20px;
	//Instead of the line below you could use @include background-clip($clip)
	background-clip: padding-box;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 3px $color_mountain_mist_approx;
	color: 0 0 3px $color_mountain_mist_approx;
	.corner-header {
		margin: 10px 15px;
	}
	.btn {
		margin-right: 15px;
	}
	&.normalAlign {
		text-align: initial;
	}
}

form {
	.btn {
		margin-top: 20px;
	}
}