.jumbotron {
	text-align: center;
	border-bottom: 1px solid $mercury;
	box-shadow: 0 0 3px $color_mountain_mist_approx;
	background-color: $concrete;
	background-size: cover;
	@include border-radius;
	min-height: 265px;
	.btn {
		padding: 14px 24px;
		font-size: 21px;
	}
}
