//Layout Styles
//----------------------

.closed {
	color: $color_tall_poppy_approx !important;
	border-color: $color_tall_poppy_approx !important;
}

.not-active {
   pointer-events: none;
   cursor: default;
}

.hidden {
	display: none;
}

.mlz {
	margin-left: 0;
}

.mrz {
	margin-right: 0;
}

.mtz {
	margin-top: 0;
}

.mbz {
	margin-bottom: 0;
}

.mr {
	margin-right: 1em;
}

.ml {
	margin-left: 1em;
}

.mb {
	margin-bottom: 1em;
}

.mt {
	margin-top: 1em;
}

.mtop30 {
	margin-top: 30px;
}

.mautoLeft {
	margin-left: auto;
}

.mtopVersion {
	margin-top: 24px;
}

.mright15 {
	margin-right: 15px;
}

.huge {
	font-size: 50px;
	line-height: normal;
	font-size: 40px;
}

.small {
	font-size: 12px;
	line-height: normal;
}

.xsmall {
	font-size: 11px;
	margin-top: 2px;
}

.gscale {
	color: rgb(150, 150, 150);
}

.block {
	display: block;
}

.inline {
	display: inline;
}

.inline-block{
	display: inline-block;
}

.content-center {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.btn-row {
	margin-bottom: 30px;
}

.clip {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

//Color Styles
//-------------------------------
.gray-box {
	background: $concrete;
	padding: 30px 0;
	margin-bottom: 15px;
}


.progress {
	background-color: $color_bon_jour_approx;
}

.highlight-1 {
	background: $color_wild_willow_approx;
	color: $white;
}
.highlight-2 {
	background: $color_nevada_approx;
	color: $white;
}
.highlight-3 {
	background: $color_golden_tainoi_approx;
	color: $color_shark_approx;
}
