a {
	position: relative;
	display: inline-block;
	outline: none;
	color: $color_boulder_approx;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 400;
	//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: 0 0 1px $white_30;
	font-size: 1em;
	&:hover {
		outline: none;
	}
	&:focus {
		outline: none;
	}
}

a.cl-effect-15 {
	color: $color_boulder_approx;
	font-weight: 700;
	//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: none;
	&:hover::before {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(0.9);
		opacity: 0;
	}
	&:focus::before {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(0.9);
		opacity: 0;
	}
}
a.cl-effect-15::before {
	color: $color_main_accent;
	content: attr(data-hover);
	position: absolute;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: transform 0.3s, opacity 0.3s;
}

form {
	a {
		margin-left: 10px;
	}
	.btn {
		margin: 0;
	}
}