.header {
    padding: 15px;
    margin-bottom: 0;
    z-index: 1;
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
    }
    div > .btn-1e {
        &:after {
            width: 105%;
        }
        &:hover {
            color: $white;
            &:after {
                height: 150%;
                opacity: 1;
            }
        }
    }
}

.nav-pills .sky--nav {
    // Active state
    &.active > a {
        &,
        &:hover,
        &:focus {
            background-color: $color_main_accent;
        }
    }
}

.section {
    z-index: 1;
    padding: 15px 0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    background: $color_section_breadcrumb;
    border-top: 5px solid $color_main_accent;
}

.section-breadcrumbs {
    margin-bottom: 10px;
    > div > .accountBtn {
        margin: 0;
    }
    > ol {
        background: none;
        font-size: 1.5em;
        &.breadcrumb {
            margin: 0;
            padding: 0 15px 0 15px;
        }
        > li > a {
                color: $color_main_accent;
            }
        > li.active {
            color: $concrete;
        }
    }
    .dropdown-menu {
        z-index: 1;
    }
}

.user-info {
    display: inline-block;
    .service-wrapper {
        padding: 10px 5px;
    }
}

.profileImg {
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    width: 38px;
    height: 38px;
}