body {
	padding-bottom: 20px;
	background-image: url(../img/page-background.png);
}
.marketing {
	padding-right: 15px;
	padding-left: 15px;
	margin: 0;
	p + h4 {
		margin-top: 28px;
	}
}
@media screen and(min-width: 768px) {
	.header {
		padding-right: 0;
		padding-left: 0;
		margin-bottom: 30px;
	}
	.marketing {
		padding-right: 0;
		padding-left: 0;
	}
	.footer {
		padding-right: 0;
		padding-left: 0;
	}
	.jumbotron {
		border-bottom: 0;
	}
}
.container-narrow > hr {
	margin: 30px 0;
}

.hr-dvdr {
	background: url(../img/slide-bg.png);
}

.hr-header {
	margin: 5px auto 5px auto;
	border-bottom: 2px solid #B8B8B8;
	width: 80%;
}

#upload-input {
	display: none;
}