<div class="col-md-3">
	<div class="service-wrapper">
		<ul class="no-pad">
			<li><span class="gscale">Last Activity:</span> {{stats.lastLogin}}</li>
			<li><span class="gscale">Joined:</span> {{stats.dateJoined}}</li>
			<li><span class="gscale">Likes Received:</span> {{stats.likes}}</li>
			<li><span class="gscale">Resources:</span> {{stats.resCount}}</li>
			<li><span class="gscale">Pixel Points:</span> {{stats.pixelPoints}}</li>
		</ul>
	</div>
</div>
<div class="col-md-5">
	<div class="service-wrapper">
		<h2>Resources</h2>
		<ul class="no-pad">
			{{#each mods}}
			<li><a href="{{this.link}}">{{this.modName}}</a></li>
			{{/each}}
		</ul>
	</div>
</div>
<div class="col-md-4">
	<div class="service-wrapper">
		<h2>Information</h2>
	</div>
</div>