<form>
	<div class="col-md-6">
		<label>Gender</label>
		<select class="form-control" name="gender">
			<option>Male</option>
			<option>Female</option>
			<option>Other</option>
		</select>
	</div>
	<div class="col-md-6">
		<label>Age</label>
		<input class="form-control" type="number" name="age" value="{{age}}" />
	</div>
	<div class="col-md-6">
		<label>Location</label>
		<input class="form-control" type="text" name="location" value="{{location}}"/>
	</div>
	<div class="col-md-6">
		<label>Avatar URL</label>
		<input class="form-control" type="text" name="avatar" value="{{avatar}}"/>
	</div>
	<div class="col-md-6">
		<div class="col-md-6">
			<label>Github</label>
			<input class="form-control" type="text" name="github" value="{{findSocial social 'github'}}"/>
		</div>
		<div class="col-md-6">
			<label>Twitter</label>
			<input class="form-control" type="text" name="twitter" value="{{findSocial social 'twitter'}}"/>
		</div>
		<div class="col-md-6">
			<label>Skype</label>
			<input class="form-control" type="text" name="skype" value="{{findSocial social 'skype'}}"/>
		</div>
	</div>
</form>
<button id="updateAcc" class="btn btn-1 btn-1c">Save</button>
<button id="cancelUpd" class="btn btn-1 btn-1c">Cancel</button>