<div class="col-md-12">
	<div class="mb">
		<div class="row">
			<div class="col-md-3">
				{{!-- <img src="http://placehold.it/260x260" /> --}}
				<img src="{{avatar}}">
			</div>
			<div class="col-md-5">
				<div class="row">
					<div>
						<h2>{{displayName}}</h2>
						<div class="col-md-9">
							<ul id="userInfo" class="list-inline">
								<li>{{title}},</li>
								<li>{{gender}},</li>
								<li>{{age}},</li>
								<li><span class="gscale">from:</span> {{location}}</li>
							</ul>
						</div>
						<div class="col-md-3">
							<a id="modifyAcc" class="cl-effect-15" href="javascript:void(0);" data-hover="Modify">Modify</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-7">
						<h4>Account Info</h4>
						<ul>
							<li><span class="gscale">Balance:</span> ${{payee.balance}}</li>
							<li><span class="gscale">Account Status:</span> {{payee.accStatus}}</li>
							<li><span class="gscale">Renewal Date:</span> {{payee.renewDate}}</li>
						</ul>
						<div class="col-md-6">
							<a id="cancelAcc" class="ml {{#equal payee.accStatus 'Normal'}}not-active{{else}}cl-effect-15{{/equal}}" href="javascript:void(0);" data-hover="Stop Plan">Stop Plan</a>
						</div>
						<div class="col-md-6">
							<a id="startAcc" class="ml cl-effect-15" href="javascript:void(0);" data-hover="Start Plan">Start Plan</a>
						</div>
					</div>
					<div class="col-md-5">
						<h4>Social Links</h4>
						<ul class="no-pad">
							{{#each social}}
							<li><span class="gscale">{{socialName}}:</span> <a class="cl-effect-15" href="{{socialLink}}" data-hover="{{socialUser}}">{{socialUser}}</a></li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>