<p>This may become a slider panel instead of a fixed piece</p>
<div class="row hr-header">
	<h4>Server of the Day</h4>
	<div><img src="http://placehold.it/150x150"/></div>
	<a class="cl-effect-15" href="#" data-hover="#Server Info?#">#Server Info?#</a>
</div>
<div class="row">
	<h4>Latest Mods</h4>
	<div>
		<div>Mod Title 1</div>
		<div><img src="http://placehold.it/150x150"/></div>
	</div>
	<div>
		<div>Mod Title 2</div>
		<div><img src="http://placehold.it/150x150"/></div>
	</div>
</div>
