<div class="service-wrapper col-md-12">
	<h2>Recent Vauxite Announcements</h2>
	<div class="hr-header"></div>
	<div class="col-md-6">
		<h4>Article 1</h4>
		<p>Article Preview small description</p>
		<a class="btn btn-1 btn-1c" href="#">More Info</a>
	</div>
	<div class="col-md-6">
		<h4>Article 2</h4>
		<p>Max two articles at once best bet?</p>
		<a class="btn btn-1 btn-1c" href="#">More Info</a>
	</div>

	<h2>Game News</h2>
	<div class="hr-header"></div>
	{{#each gameArticles}}
	<div class="col-md-4">
		<h4>{{this.title}}</h4>
		<p>{{this.content}}</p>
		<a class="btn btn-1 btn-1c" href="{{this.url}}">More Info</a>
	</div>
	{{/each}}

	<div class="col-md-4">
		<h4>Other Article</h4>
		<p>Another one!</p>
		<a class="btn btn-1 btn-1c" href="#">More Info</a>
	</div>
</div>
