<div class="js-jumbotron">
	<div class="jumbotron game--none">
		<h1>ART!</h1>
		<p class="lead">We will use this for a "art of the week" style piece. perhaps add a bit more to the bottom for an info tab.</p>
		{{!-- <p><a class="btn btn-lg btn-success" href="#" role="button">Button!</a></p> --}}
	</div>
</div>