<div class="header clearfix col-md-12">
	<a  class="col-md-6" href="/"><img src="/assets/build/img/logo.png" /></a>
	<div class="col-md-6">
		<span class="ml"><a class="btn btn-1 btn-1c" href="/">Home</a></span>
		<span ><a class="btn btn-1 btn-1c" href="/about">About</a></span>
		<span><a class="btn btn-1 btn-1c closed" href="#" title="Currently Unavailable" disabled>Community</a></span>
		<span><a class="btn btn-1 btn-1c" href="/mods">Mods</a></span>
		<span><a class="btn btn-1 btn-1c" href="/serverlist/main">Server List</a></span>
	</div>
				{{!-- <h3 class="text-muted">SkyByte Interactive</h3> --}}
</div>
<div class="section section-breadcrumbs col-md-12">
	<ol class="breadcrumb col-md-10">
		{{#each page.breadcrumbs}}
		<li {{#if this.active}}class="active"{{/if}}>{{#unless this.active}}<a href="{{this.link}}">{{this.crumb}}</a> {{else}} {{this.crumb}} {{/unless}}</li>
		{{/each}}
	</ol>
	{{!-- <div class="col-md-2"><a id="accountBtn" class="btn btn-1 btn-1c accountBtn" href="#">Account <i class="icon icon-user"></i></a></div> --}}
	<div class="user-info col-md-2">
		<div class="service-wrapper">
		{{#if page.isAuthed}}
			<div class="dropdown">
				<a class="cl-effect-15 dropdown-toggle" href="/account" data-toggle="dropdown" data-hover="Welcome, {{page.user}}">Welcome, {{page.user}}</a>
				<img class="profileImg" src= "{{#if page.avatar}}{{page.avatar}}{{else}}http://placehold.it/38x38{{/if}}">
				<span class="caret"></span>
				<ul class="dropdown-menu">
					<li><a href="/account">Account</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
			{{else}}
			<a class="cl-effect-15 md-trigger" data-modal="modal-1" href="javascript:void(0);" data-hover="Login">Login</a> | <a class="cl-effect-15 md-trigger" href="javascript:void(0);" data-modal="modal-2" data-hover="Register">Register</a>
		{{/if}}
		</div>
	</div>
</div>
