<div class="md-modal md-effect-2" id="modal-1">
    <div class="md-content">
        <h3>Login</h3>
        <div class="basic-login">
            <form id="login" role="form" method="post" action="/login">
                <div class="form-group">
                    <label for="login-username"><i class="icon-user"></i> <b>Username or Email</b></label>
                    <input class="form-control" name="login_username" id="login-username" type="text" placeholder="">
                </div>
                <div class="form-group">
                    <label for="login-password"><i class="icon-lock"></i> <b>Password</b></label>
                    <input class="form-control" name="login_password" id="login-password" type="password" placeholder="">
                </div>
                <div class="form-group">
                    <a href="#" class="forgot-password cl-effect-15" data-hover="Forgot Password">Forgot Password</a>
                    <div class="clearfix"></div>
                </div>
            </form>
            <button  id="loginBtn" class="md-login btn btn-1 btn-1c">Login</button>
            <button id="closeBtn" class="md-close btn btn-1 btn-1c">Close</button>
        </div>
    </div>
</div>

<div class="md-modal md-effect-2" id="modal-2">
    <div class="md-content">
        <h3>Register</h3>
        <div class="basic-login">
        <form id="register">
                <div class="form-group">
                    <label for="login-username"><b>Username</b></label>
                    <div id="error" class="hidden alert alert-danger" role="alert">
    					<span id="validUser"><i class="icon icon-notification"></i> Please enter a Valid Username</span>
    					<span id="userTaken"><i class="icon icon-notification hidden"></i> This Username has already been taken</span>
    				</div>
                    <input class="form-control" name="user" id="username" type="text" placeholder="">
                </div>
                <div class="form-group">
                    <label><b>Email</b></label>
                    <div id="error" class="hidden alert alert-danger" role="alert">
    					<span><i class="icon icon-notification"></i> Please enter a Valid Email</span>
    				</div>
                    <input class="form-control" name="email" id="email" type="text" placeholder="">
                </div>
                <div class="form-group">
                    <label><b>Password</b></label>
                    <div id="error" class="hidden alert alert-danger" role="alert">
    					<span><i class="icon icon-notification"></i> Please enter a Valid Password</span>
    				</div>
                    <input class="form-control" name="pass" id="password" type="password" placeholder="">
                </div>
                <div class="form-group">
                    <label><b>Repeat Password</b></label>
                    <input class="form-control" type="password" id="passwordMatch"  placeholder="">
                </div>
            </form>
                <button id="registerForm" value="Register" class="md-register btn btn-1 btn-1c">Register</button>
                <button id="cancelRegister" class="md-close btn btn-1 btn-1c">Cancel</button>
        </div>
    </div>
</div>

<div class="md-modal md-effect-2" id="modal-3">
    <div class="md-content">
        <h3>Forgot Password</h3>
        <div class="basic-login">
        <form id="forgotPassword" role="form" method="post" action="/lost-password">
                <div class="form-group">
                    <label for="login-username"><i class="icon-user"></i> <b>Registered Email</b></label>
                    <input class="form-control" name="email" id="login-username" type="text" placeholder="">
                </div>
                <button id="cancelForgot" class="md-close btn btn-1 btn-1c">Cancel</button>
                <input type="Submit" value="Request" class="md-request btn btn-1 btn-1c">
            </form>
        </div>
    </div>
</div>
