<div class="row">
	<div class="service-wrapper col-md-12">
		<div class="grid">
		{{#if items}}
			{{#each items}}
				<figure class="effect-lexi">
					<img src="{{this.thumbnail}}" alt="Mod Image"/>
					<figcaption>
						<h2>{{this.name}} <span class="small">v{{this.version}}</span></h2>
						<p>{{this.summary}}</p>
						<a href="{{this.modpath}}">View more</a>
					</figcaption>
				</figure>
			{{/each}}
		{{else}}
			<h3>There are no mods at this time...</h3>
		{{/if}}
		</div>
	</div>
</div>
