<form class="form-inline">
	<div class="form-group">
		<input class="form-control js-filterinput" type="text" data-type="searchterm" placeholder="Search...">
	</div>
	<div class="form-group">
		<a class="cl-effect-15" href="#latest" data-hover="Latest Updated">Latest Updated</a>
	</div>
	<div class="form-group">
		<a class="cl-effect-15" href="#newest" data-hover="Newest Mods">Newest Mods</a>
	</div>
	<div class="form-group">
		<a class="cl-effect-15" href="#rated" data-hover="Top Rated">Top Rated</a>
	</div>
	<div class="form-group">
		<a class="cl-effect-15" href="#mostdownloads" data-hover="Most Downloaded">Most Downloaded</a>
	</div>
	<a class="btn btn-1 btn-1c pull-right" href="/mods/submission?game={{game}}">Add Mod <i class="icon icon-plus"></i></a>
</form>