<div>
	<h2>Select a Game</h2>
	<div class="row">
		<div class="grid">
			<figure class="effect-lexi">
				<img src="/assets/img/stonehearth/stonehearth_header.jpg" alt="Stone Hearth"/>
				<figcaption>
					{{!-- <h2>Stonehearth <span class="small">Alpha</span></h2> --}}
					<p>A Data bank of mods for Stonehearth</p>
					<a class="js-gamebtn" href="javascript:void(0)" data-type="stonehearth">View more</a>
				</figcaption>
			</figure>
			<figure class="effect-lexi">
				<img src="/assets/img/stardew-valley/stardew_valley.png" alt="Stardew Valley"/>
				<figcaption>
					{{!-- <h2>Stardew Valley <span class="small">Released</span></h2> --}}
					<p>A mod data base for Stardew Valley</p>
					<a class="js-gamebtn" href="javascript:void(0)" data-type="stardew">View more</a>
				</figcaption>
			</figure>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<p class="small">Know a game that could use a Mod Database? Send us some <a class="cl-effect-15" href="#" data-hover="feedback">feedback</a> and let us know!</p>
		</div>
	</div>
</div>
