<div class="md-modal md-effect-2" id="modal-3">
    <div class="md-content">
        <h3>Forgot Password</h3>
        <div class="basic-login">
		<form class="hidden" id="forgotPassword" role="form" method="post" action="/lost-password">
                <div class="form-group">
                    <label for="login-username"><i class="icon-user"></i> <b>Registered Email</b></label>
                    <input class="form-control" name="email" id="login-username" type="text" placeholder="">
                </div>
                <button id="cancelForgot" class="md-close btn">Cancel</button>
                <input type="Submit" value="Request" class="md-request btn">
            </form>
        </div>
    </div>
</div>