<div class="md-modal md-effect-2" id="modal-1">
    <div class="md-content">
        <h3>Login</h3>
        <div class="basic-login">
            <form id="login" role="form" method="post" action="/login">
                <div class="form-group">
                    <label for="login-username"><i class="icon-user"></i> <b>Username or Email</b></label>
                    <input class="form-control" name="login_username" id="login-username" type="text" placeholder="">
                </div>
                <div class="form-group">
                    <label for="login-password"><i class="icon-lock"></i> <b>Password</b></label>
                    <input class="form-control" name="login_password" id="login-password" type="password" placeholder="">
                </div>
                <div class="form-group">
                    <a href="#" class="forgot-password cl-effect-15" data-hover="Forgot Password">Forgot Password</a>
                    <div class="clearfix"></div>
                </div>
                <div class="md-btnGroup">
                    <button id="closeBtn" class="md-close btn btn-1 btn-1c">Close</button>
                    <input type="Submit" value="Login" class="md-login btn btn-1 btn-1c">
                    <button id="registerBtn" class="md-login btn btn-1 btn-1c">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>