<div class="md-modal md-effect-2" id="modal-2">
    <div class="md-content">
        <h3>Register</h3>
        <div class="basic-login">
		<form class="hidden" id="register" role="form" method="post" action="/register">
                <div class="form-group">
                    <label for="login-username"><b>Username</b></label>
                    <input class="form-control" name="user" id="login-username" type="text" placeholder="">
                </div>
                <div class="form-group">
                    <label><b>Email</b></label>
                    <input class="form-control" name="email" type="text" placeholder="">
                </div>
                <div class="form-group">
                    <label><b>Password</b></label>
                    <input class="form-control" name="pass" type="text" placeholder="">
                </div>
                <div class="form-group">
                    <label><b>Repeat Password</b></label>
                    <input class="form-control" type="text" placeholder="">
                </div>
                <button id="cancelForgot" class="md-close btn">Cancel</button>
                <input type="Submit" value="Request" class="md-request btn">
            </form>
        </div>
    </div>
</div>