<div class="col-md-9 column serverlist" id="serverlist">
            <div class="service-wrapper">
                <div class="row">
                    <div class="col-sm-4">
                        <select name="gameFilter" class="form-control">
                            <option value="all"><strong><i class="icon-list2"></i> Game Filter</strong></option>
                            <option value="rust">Rust</option>
                            <option value="ark">Ark: Survival Evolved</option>
                        </select>
                    </div>
                    <div name="serverSearch" class="col-sm-4">
                        <input class="form-control" type="text" placeholder="Search Servers">
                    </div>
                </div>
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Server</th>
                            <th>Stats</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each server}}
                        <tr>
                            <td>
                                <div>{{this.rank}}</div>
                            </td>
                            <td>
                                <span class="lead">
                                <div>{{#if this.banner}}{{this.banner}}{{else}}{{this.name}}{{/if}}</div>
                                </span>
                                <p>
                                    <img src="{{this.country}}" alt="Server Country"></img>{{this.ip}}
                                    <br><span class="tags">{{this.tags}}</span>
                                </p>
                            </td>
                            <td>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="serverdetails"><small><div><strong>{{#if this.status}}Online{{else}}Offline{{/if}}:</strong></small></td>
                                            <td><small>{{this.players}}/{{this.maxPlayers}}</small></td>
                                        </tr>
                                        <tr>
                                            <td class="serverdetails"><small>Uptime:</small></td>
                                            <td class="serverdetails">
                                                <small>
                                        </small>
                                                <div class="progress progress-striped">
                                                    <small>
                                        </small>
                                                    <div class="progress-bar progress progress-striped progress-success progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                                        <small>
                                                {{this.uptime}}%
                                            </small>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="serverdetails">
                                                <small>Votes:</small>
                                            </td>
                                            <td class="serverdetails">
                                                <small>{{this.votes}}</small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="serverdetails">
                                                <small>Version:</small>
                                            </td>
                                            <td class="serverdetails">
                                                <small>{{this.version}}</small>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>