<div class="col-sm-3">
    <div class="mb service-wrapper">
        <i class="icon-stats-bars"></i> Total Server Stats
        <hr class="hr-header">
        <i class="icon-database"></i> Servers Listed: {{total.servers}}<br>
        <i class="icon-users"></i> Players Online: {{total.playersonline}}<br>
        <i class="icon-checkmark"></i> Votes Casted: {{total.votes}}<br>
    </div>
    <div class="mb service-wrapper">
        <i class="icon-switch"></i> Newest Servers
        <hr class="hr-header">
    </div>
    <div class="menu-system service-wrapper">
        <i class="icon-info"></i> Server Updates &amp; News
        <hr class="hr-header">
    </div>
</div>