<html>
	<head>
		<meta charset="UTF-8">
		<title>{{page.title}}</title>
		<link href="/assets/build/vendor/css/bootstrap.min.css" rel="stylesheet">
		<link href="/assets/build/css/default.css" rel="stylesheet">
		{{#if css.page}}
			<link rel="stylesheet" href="/assets/build/{{css.page}}" media="all">
		{{/if}}
		{{#each css.vendor}}
			<link rel="stylesheet" href="/assets/build/vendor/css/{{this}}" media="all">
		{{/each}}
		{{#each css.cdn}}
			<link rel="stylesheet" type="text/css" href="{{this}}">
		{{/each}}
	</head>
	<body>
		{{#unless page.hideHeader}}
			{{>header-primary}}
			{{>nav-primary}}
		{{/unless}}
		{{> user-modal}}
		<main class="container">
			{{{content}}}
		</main>
		<div class="md-overlay"></div>
		{{>footer-primary}}
		{{#each js.vendor}}
		<script src="/assets/build/vendor/js/{{this}}"></script>
		{{/each}}
		<script src="/assets/build/js/global.bundle.js"></script>
		{{#each js.cdn}}
		<script src="{{this}}"></script>
		{{/each}}
		<script type="text/javascript" src="/assets/build/vendor/js/modalEffects.js"></script>
		<script type="text/javascript" src="/assets/build/vendor/js/modernizr.custom.js"></script>
		<script src="/assets/build/vendor/js/local.min.js"></script>
		{{#if js.page}}
			<script src="/assets/build/{{js.page}}"></script>
		{{/if}}
		<!-- <script type="text/javascript" src="assets/testData/morris-data.js"></script> -->
	</body>
</html>
