@import "variables";

@font-face {
    font-family: 'icomoon';
    src:    url('#{$icomoon-font-path}/icomoon.eot?gfwghy');
    src:    url('#{$icomoon-font-path}/icomoon.eot?gfwghy#iefix') format('embedded-opentype'),
        url('#{$icomoon-font-path}/icomoon.ttf?gfwghy') format('truetype'),
        url('#{$icomoon-font-path}/icomoon.woff?gfwghy') format('woff'),
        url('#{$icomoon-font-path}/icomoon.svg?gfwghy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home {
    &:before {
        content: $icon-home;
    }
}
.icon-home2 {
    &:before {
        content: $icon-home2;
    }
}
.icon-home3 {
    &:before {
        content: $icon-home3;
    }
}
.icon-image {
    &:before {
        content: $icon-image;
    }
}
.icon-images {
    &:before {
        content: $icon-images;
    }
}
.icon-camera {
    &:before {
        content: $icon-camera;
    }
}
.icon-music {
    &:before {
        content: $icon-music;
    }
}
.icon-connection {
    &:before {
        content: $icon-connection;
    }
}
.icon-mic {
    &:before {
        content: $icon-mic;
    }
}
.icon-books {
    &:before {
        content: $icon-books;
    }
}
.icon-library {
    &:before {
        content: $icon-library;
    }
}
.icon-file-text {
    &:before {
        content: $icon-file-text;
    }
}
.icon-price-tags {
    &:before {
        content: $icon-price-tags;
    }
}
.icon-cart {
    &:before {
        content: $icon-cart;
    }
}
.icon-coin-dollar {
    &:before {
        content: $icon-coin-dollar;
    }
}
.icon-lifebuoy {
    &:before {
        content: $icon-lifebuoy;
    }
}
.icon-phone {
    &:before {
        content: $icon-phone;
    }
}
.icon-phone-hang-up {
    &:before {
        content: $icon-phone-hang-up;
    }
}
.icon-address-book {
    &:before {
        content: $icon-address-book;
    }
}
.icon-envelop {
    &:before {
        content: $icon-envelop;
    }
}
.icon-pushpin {
    &:before {
        content: $icon-pushpin;
    }
}
.icon-location {
    &:before {
        content: $icon-location;
    }
}
.icon-location2 {
    &:before {
        content: $icon-location2;
    }
}
.icon-compass {
    &:before {
        content: $icon-compass;
    }
}
.icon-compass2 {
    &:before {
        content: $icon-compass2;
    }
}
.icon-bell {
    &:before {
        content: $icon-bell;
    }
}
.icon-calendar {
    &:before {
        content: $icon-calendar;
    }
}
.icon-printer {
    &:before {
        content: $icon-printer;
    }
}
.icon-keyboard {
    &:before {
        content: $icon-keyboard;
    }
}
.icon-display {
    &:before {
        content: $icon-display;
    }
}
.icon-laptop {
    &:before {
        content: $icon-laptop;
    }
}
.icon-tablet {
    &:before {
        content: $icon-tablet;
    }
}
.icon-floppy-disk {
    &:before {
        content: $icon-floppy-disk;
    }
}
.icon-drive {
    &:before {
        content: $icon-drive;
    }
}
.icon-database {
    &:before {
        content: $icon-database;
    }
}
.icon-bubble2 {
    &:before {
        content: $icon-bubble2;
    }
}
.icon-bubbles3 {
    &:before {
        content: $icon-bubbles3;
    }
}
.icon-bubbles4 {
    &:before {
        content: $icon-bubbles4;
    }
}
.icon-user {
    &:before {
        content: $icon-user;
    }
}
.icon-users {
    &:before {
        content: $icon-users;
    }
}
.icon-user-plus {
    &:before {
        content: $icon-user-plus;
    }
}
.icon-user-minus {
    &:before {
        content: $icon-user-minus;
    }
}
.icon-user-check {
    &:before {
        content: $icon-user-check;
    }
}
.icon-quotes-left {
    &:before {
        content: $icon-quotes-left;
    }
}
.icon-quotes-right {
    &:before {
        content: $icon-quotes-right;
    }
}
.icon-hour-glass {
    &:before {
        content: $icon-hour-glass;
    }
}
.icon-spinner3 {
    &:before {
        content: $icon-spinner3;
    }
}
.icon-spinner4 {
    &:before {
        content: $icon-spinner4;
    }
}
.icon-spinner5 {
    &:before {
        content: $icon-spinner5;
    }
}
.icon-spinner9 {
    &:before {
        content: $icon-spinner9;
    }
}
.icon-spinner10 {
    &:before {
        content: $icon-spinner10;
    }
}
.icon-spinner11 {
    &:before {
        content: $icon-spinner11;
    }
}
.icon-search {
    &:before {
        content: $icon-search;
    }
}
.icon-key {
    &:before {
        content: $icon-key;
    }
}
.icon-lock {
    &:before {
        content: $icon-lock;
    }
}
.icon-wrench {
    &:before {
        content: $icon-wrench;
    }
}
.icon-equalizer {
    &:before {
        content: $icon-equalizer;
    }
}
.icon-equalizer2 {
    &:before {
        content: $icon-equalizer2;
    }
}
.icon-cog {
    &:before {
        content: $icon-cog;
    }
}
.icon-cogs {
    &:before {
        content: $icon-cogs;
    }
}
.icon-hammer {
    &:before {
        content: $icon-hammer;
    }
}
.icon-magic-wand {
    &:before {
        content: $icon-magic-wand;
    }
}
.icon-aid-kit {
    &:before {
        content: $icon-aid-kit;
    }
}
.icon-bug {
    &:before {
        content: $icon-bug;
    }
}
.icon-pie-chart {
    &:before {
        content: $icon-pie-chart;
    }
}
.icon-stats-dots {
    &:before {
        content: $icon-stats-dots;
    }
}
.icon-stats-bars {
    &:before {
        content: $icon-stats-bars;
    }
}
.icon-stats-bars2 {
    &:before {
        content: $icon-stats-bars2;
    }
}
.icon-leaf {
    &:before {
        content: $icon-leaf;
    }
}
.icon-meter {
    &:before {
        content: $icon-meter;
    }
}
.icon-lab {
    &:before {
        content: $icon-lab;
    }
}
.icon-magnet {
    &:before {
        content: $icon-magnet;
    }
}
.icon-bin {
    &:before {
        content: $icon-bin;
    }
}
.icon-bin2 {
    &:before {
        content: $icon-bin2;
    }
}
.icon-truck {
    &:before {
        content: $icon-truck;
    }
}
.icon-road {
    &:before {
        content: $icon-road;
    }
}
.icon-shield {
    &:before {
        content: $icon-shield;
    }
}
.icon-power {
    &:before {
        content: $icon-power;
    }
}
.icon-switch {
    &:before {
        content: $icon-switch;
    }
}
.icon-clipboard {
    &:before {
        content: $icon-clipboard;
    }
}
.icon-list-numbered {
    &:before {
        content: $icon-list-numbered;
    }
}
.icon-list {
    &:before {
        content: $icon-list;
    }
}
.icon-list2 {
    &:before {
        content: $icon-list2;
    }
}
.icon-tree {
    &:before {
        content: $icon-tree;
    }
}
.icon-menu {
    &:before {
        content: $icon-menu;
    }
}
.icon-cloud {
    &:before {
        content: $icon-cloud;
    }
}
.icon-cloud-download {
    &:before {
        content: $icon-cloud-download;
    }
}
.icon-cloud-upload {
    &:before {
        content: $icon-cloud-upload;
    }
}
.icon-cloud-check {
    &:before {
        content: $icon-cloud-check;
    }
}
.icon-download2 {
    &:before {
        content: $icon-download2;
    }
}
.icon-upload2 {
    &:before {
        content: $icon-upload2;
    }
}
.icon-download3 {
    &:before {
        content: $icon-download3;
    }
}
.icon-upload3 {
    &:before {
        content: $icon-upload3;
    }
}
.icon-sphere {
    &:before {
        content: $icon-sphere;
    }
}
.icon-earth {
    &:before {
        content: $icon-earth;
    }
}
.icon-link {
    &:before {
        content: $icon-link;
    }
}
.icon-flag {
    &:before {
        content: $icon-flag;
    }
}
.icon-attachment {
    &:before {
        content: $icon-attachment;
    }
}
.icon-bookmark {
    &:before {
        content: $icon-bookmark;
    }
}
.icon-star-empty {
    &:before {
        content: $icon-star-empty;
    }
}
.icon-star-half {
    &:before {
        content: $icon-star-half;
    }
}
.icon-star-full {
    &:before {
        content: $icon-star-full;
    }
}
.icon-heart {
    &:before {
        content: $icon-heart;
    }
}
.icon-heart-broken {
    &:before {
        content: $icon-heart-broken;
    }
}
.icon-warning {
    &:before {
        content: $icon-warning;
    }
}
.icon-notification {
    &:before {
        content: $icon-notification;
    }
}
.icon-question {
    &:before {
        content: $icon-question;
    }
}
.icon-plus {
    &:before {
        content: $icon-plus;
    }
}
.icon-minus {
    &:before {
        content: $icon-minus;
    }
}
.icon-info {
    &:before {
        content: $icon-info;
    }
}
.icon-cancel-circle {
    &:before {
        content: $icon-cancel-circle;
    }
}
.icon-blocked {
    &:before {
        content: $icon-blocked;
    }
}
.icon-cross {
    &:before {
        content: $icon-cross;
    }
}
.icon-checkmark {
    &:before {
        content: $icon-checkmark;
    }
}
.icon-checkmark2 {
    &:before {
        content: $icon-checkmark2;
    }
}
.icon-spell-check {
    &:before {
        content: $icon-spell-check;
    }
}
.icon-loop {
    &:before {
        content: $icon-loop;
    }
}
.icon-loop2 {
    &:before {
        content: $icon-loop2;
    }
}
.icon-arrow-up-left2 {
    &:before {
        content: $icon-arrow-up-left2;
    }
}
.icon-arrow-up2 {
    &:before {
        content: $icon-arrow-up2;
    }
}
.icon-arrow-up-right2 {
    &:before {
        content: $icon-arrow-up-right2;
    }
}
.icon-arrow-right2 {
    &:before {
        content: $icon-arrow-right2;
    }
}
.icon-arrow-down-right2 {
    &:before {
        content: $icon-arrow-down-right2;
    }
}
.icon-arrow-down2 {
    &:before {
        content: $icon-arrow-down2;
    }
}
.icon-arrow-down-left2 {
    &:before {
        content: $icon-arrow-down-left2;
    }
}
.icon-arrow-left2 {
    &:before {
        content: $icon-arrow-left2;
    }
}
.icon-circle-left {
    &:before {
        content: $icon-circle-left;
    }
}
.icon-checkbox-checked {
    &:before {
        content: $icon-checkbox-checked;
    }
}
.icon-checkbox-unchecked {
    &:before {
        content: $icon-checkbox-unchecked;
    }
}
.icon-radio-checked {
    &:before {
        content: $icon-radio-checked;
    }
}
.icon-radio-checked2 {
    &:before {
        content: $icon-radio-checked2;
    }
}
.icon-radio-unchecked {
    &:before {
        content: $icon-radio-unchecked;
    }
}
.icon-filter {
    &:before {
        content: $icon-filter;
    }
}
.icon-embed {
    &:before {
        content: $icon-embed;
    }
}
.icon-embed2 {
    &:before {
        content: $icon-embed2;
    }
}
.icon-terminal {
    &:before {
        content: $icon-terminal;
    }
}
.icon-share2 {
    &:before {
        content: $icon-share2;
    }
}
.icon-mail2 {
    &:before {
        content: $icon-mail2;
    }
}
.icon-google {
    &:before {
        content: $icon-google;
    }
}
.icon-google-drive {
    &:before {
        content: $icon-google-drive;
    }
}
.icon-facebook2 {
    &:before {
        content: $icon-facebook2;
    }
}
.icon-instagram {
    &:before {
        content: $icon-instagram;
    }
}
.icon-twitter {
    &:before {
        content: $icon-twitter;
    }
}
.icon-rss {
    &:before {
        content: $icon-rss;
    }
}
.icon-youtube {
    &:before {
        content: $icon-youtube;
    }
}
.icon-steam {
    &:before {
        content: $icon-steam;
    }
}
.icon-steam2 {
    &:before {
        content: $icon-steam2;
    }
}
.icon-dropbox {
    &:before {
        content: $icon-dropbox;
    }
}
.icon-onedrive {
    &:before {
        content: $icon-onedrive;
    }
}
.icon-github {
    &:before {
        content: $icon-github;
    }
}
.icon-npm {
    &:before {
        content: $icon-npm;
    }
}
.icon-trello {
    &:before {
        content: $icon-trello;
    }
}
.icon-tux {
    &:before {
        content: $icon-tux;
    }
}
.icon-appleinc {
    &:before {
        content: $icon-appleinc;
    }
}
.icon-windows {
    &:before {
        content: $icon-windows;
    }
}
.icon-windows8 {
    &:before {
        content: $icon-windows8;
    }
}
.icon-skype {
    &:before {
        content: $icon-skype;
    }
}
.icon-linkedin {
    &:before {
        content: $icon-linkedin;
    }
}
.icon-stackoverflow {
    &:before {
        content: $icon-stackoverflow;
    }
}
.icon-xing {
    &:before {
        content: $icon-xing;
    }
}
.icon-paypal {
    &:before {
        content: $icon-paypal;
    }
}
.icon-chrome {
    &:before {
        content: $icon-chrome;
    }
}
.icon-firefox {
    &:before {
        content: $icon-firefox;
    }
}
.icon-edge {
    &:before {
        content: $icon-edge;
    }
}
.icon-git {
    &:before {
        content: $icon-git;
    }
}

