$icomoon-font-path: "../vendor/css/fonts/" !default;

$icon-home: "\e900";
$icon-home2: "\e901";
$icon-home3: "\e902";
$icon-image: "\e90d";
$icon-images: "\e90e";
$icon-camera: "\e90f";
$icon-music: "\e911";
$icon-connection: "\e91b";
$icon-mic: "\e91e";
$icon-books: "\e920";
$icon-library: "\e921";
$icon-file-text: "\e922";
$icon-price-tags: "\e936";
$icon-cart: "\e93a";
$icon-coin-dollar: "\e93b";
$icon-lifebuoy: "\e941";
$icon-phone: "\e942";
$icon-phone-hang-up: "\e943";
$icon-address-book: "\e944";
$icon-envelop: "\e945";
$icon-pushpin: "\e946";
$icon-location: "\e947";
$icon-location2: "\e948";
$icon-compass: "\e949";
$icon-compass2: "\e94a";
$icon-bell: "\e951";
$icon-calendar: "\e953";
$icon-printer: "\e954";
$icon-keyboard: "\e955";
$icon-display: "\e956";
$icon-laptop: "\e957";
$icon-tablet: "\e95a";
$icon-floppy-disk: "\e962";
$icon-drive: "\e963";
$icon-database: "\e964";
$icon-bubble2: "\e96e";
$icon-bubbles3: "\e96f";
$icon-bubbles4: "\e970";
$icon-user: "\e971";
$icon-users: "\e972";
$icon-user-plus: "\e973";
$icon-user-minus: "\e974";
$icon-user-check: "\e975";
$icon-quotes-left: "\e977";
$icon-quotes-right: "\e978";
$icon-hour-glass: "\e979";
$icon-spinner3: "\e97c";
$icon-spinner4: "\e97d";
$icon-spinner5: "\e97e";
$icon-spinner9: "\e982";
$icon-spinner10: "\e983";
$icon-spinner11: "\e984";
$icon-search: "\e986";
$icon-key: "\e98d";
$icon-lock: "\e98f";
$icon-wrench: "\e991";
$icon-equalizer: "\e992";
$icon-equalizer2: "\e993";
$icon-cog: "\e994";
$icon-cogs: "\e995";
$icon-hammer: "\e996";
$icon-magic-wand: "\e997";
$icon-aid-kit: "\e998";
$icon-bug: "\e999";
$icon-pie-chart: "\e99a";
$icon-stats-dots: "\e99b";
$icon-stats-bars: "\e99c";
$icon-stats-bars2: "\e99d";
$icon-leaf: "\e9a4";
$icon-meter: "\e9a6";
$icon-lab: "\e9aa";
$icon-magnet: "\e9ab";
$icon-bin: "\e9ac";
$icon-bin2: "\e9ad";
$icon-truck: "\e9b0";
$icon-road: "\e9b1";
$icon-shield: "\e9b4";
$icon-power: "\e9b5";
$icon-switch: "\e9b6";
$icon-clipboard: "\e9b8";
$icon-list-numbered: "\e9b9";
$icon-list: "\e9ba";
$icon-list2: "\e9bb";
$icon-tree: "\e9bc";
$icon-menu: "\e9bd";
$icon-cloud: "\e9c1";
$icon-cloud-download: "\e9c2";
$icon-cloud-upload: "\e9c3";
$icon-cloud-check: "\e9c4";
$icon-download2: "\e9c5";
$icon-upload2: "\e9c6";
$icon-download3: "\e9c7";
$icon-upload3: "\e9c8";
$icon-sphere: "\e9c9";
$icon-earth: "\e9ca";
$icon-link: "\e9cb";
$icon-flag: "\e9cc";
$icon-attachment: "\e9cd";
$icon-bookmark: "\e9d2";
$icon-star-empty: "\e9d7";
$icon-star-half: "\e9d8";
$icon-star-full: "\e9d9";
$icon-heart: "\e9da";
$icon-heart-broken: "\e9db";
$icon-warning: "\ea07";
$icon-notification: "\ea08";
$icon-question: "\ea09";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-info: "\ea0c";
$icon-cancel-circle: "\ea0d";
$icon-blocked: "\ea0e";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-checkmark2: "\ea11";
$icon-spell-check: "\ea12";
$icon-loop: "\ea2d";
$icon-loop2: "\ea2e";
$icon-arrow-up-left2: "\ea39";
$icon-arrow-up2: "\ea3a";
$icon-arrow-up-right2: "\ea3b";
$icon-arrow-right2: "\ea3c";
$icon-arrow-down-right2: "\ea3d";
$icon-arrow-down2: "\ea3e";
$icon-arrow-down-left2: "\ea3f";
$icon-arrow-left2: "\ea40";
$icon-circle-left: "\ea44";
$icon-checkbox-checked: "\ea52";
$icon-checkbox-unchecked: "\ea53";
$icon-radio-checked: "\ea54";
$icon-radio-checked2: "\ea55";
$icon-radio-unchecked: "\ea56";
$icon-filter: "\ea5b";
$icon-embed: "\ea7f";
$icon-embed2: "\ea80";
$icon-terminal: "\ea81";
$icon-share2: "\ea82";
$icon-mail2: "\ea84";
$icon-google: "\ea88";
$icon-google-drive: "\ea8f";
$icon-facebook2: "\ea91";
$icon-instagram: "\ea92";
$icon-twitter: "\ea96";
$icon-rss: "\ea9b";
$icon-youtube: "\ea9d";
$icon-steam: "\eaac";
$icon-steam2: "\eaad";
$icon-dropbox: "\eaae";
$icon-onedrive: "\eaaf";
$icon-github: "\eab0";
$icon-npm: "\eab1";
$icon-trello: "\eab3";
$icon-tux: "\eabd";
$icon-appleinc: "\eabe";
$icon-windows: "\eac1";
$icon-windows8: "\eac2";
$icon-skype: "\eac5";
$icon-linkedin: "\eac9";
$icon-stackoverflow: "\ead0";
$icon-xing: "\ead3";
$icon-paypal: "\ead8";
$icon-chrome: "\ead9";
$icon-firefox: "\eada";
$icon-edge: "\eadc";
$icon-git: "\eae7";